 
#busca{
    width:200px;
    padding:6px;
    border: thin solid #ccc;
    color: #999;
    font-style: italic;
}
#busca:focus{
    color: #000;
    font-style:normal;
    font-weight: bold;
}
#submit{
    width:90px;
    padding:6px;
    border: thin solid #069 ;
    font-weight: bold;
    background: #069;
    color: #fff;
}
#submit:hover{
    background: #09f;
}

/*---------------------topo-pagina------------------------*/
#menu {
    background: #EDEDED;
    margin-bottom: 1px;
}

#menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    width: 24%;
    padding: 12px 0;
    display: inline-block;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #EDEDED;
}

#menu ul li a:hover, .active {
    border-bottom: 3px solid #0099ff !important;
}
/*---------------------rodape------------------------*/
.rodape{
    background-color: cadetblue;
}
#redes ul li{
    display: inline-block;
}
.social{
    display: inline-block;
    border-radius: 25px;
    background: url(../img/round-social-media-icons.jpg);
    width: 37px;
    height: 37px;
}
.facebook{
    background-position: 525px 217px
}
.facebook:hover{
    background-position: 525px 345px;
}
.instagram{
    background-position: 335px 216px;
}
.instagram:hover{
    background-position: 335px 345px;
}
.twitter{
    background-position: 478px 217px;
}
.twitter:hover{
    background-position: 478px 345px;
}
.linkedin{
    background-position: 430px 217px;
}
.linkedin:hover{
    background-position: 430px 345px;
}